name: Deploy Backend to EC2

on:
  push:
    branches:
      - master
    paths:
      - 'recipe-ai-assistant-backend/**' # Only run for backend changes
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/thusneem/AI-Recipie || exit
            git pull
            docker stop backend || true
            docker rm backend || true
            cd /home/thusneem/AI-Recipie/recipe-ai-assistant-backend
            docker build -t backend .
            docker run -d --name backend -p 8000:8000 backend
